<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GET and POST Checker</title>
    <link rel="stylesheet" href="Style.css" type="text/css">
</head>
<body>
    {{{body}}}
</body>
</html>